footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  background-color: #171717;

  .left {
    width: 25%;
    display: flex;
    justify-content: space-around;
    background-color: #171717;

    .advertising {
      background-color: #171717;
      a {
        background-color: #171717;
      }
    }

    .advertising:hover {
      text-decoration: underline;
    }

    .business {
      background-color: #171717;
      a {
        background-color: #171717;
      }
    }

    .business:hover {
      text-decoration: underline;
    }

    .how {
      background-color: #171717;
      a {
        background-color: #171717;
      }
    }

    .how:hover {
      text-decoration: underline;
    }
  }

  .mid {
    width: 50%;
    display: flex;
    justify-content: space-around;
    background-color: #171717;
  }

  .mid a {
    background-color: #171717;
  }

  .mid a:hover {
    text-decoration: underline;
  }

  .right {
    width: 25%;
    display: flex;
    justify-content: space-around;
    background-color: #171717;

    .privacy {
      background-color: #171717;
      a {
        background-color: #171717;
      }
    }

    .privacy:hover {
      text-decoration: underline;
    }

    .terms {
      background-color: #171717;
      a {
        background-color: #171717;
      }
    }

    .terms:hover {
      text-decoration: underline;
    }

    .settings {
      background-color: #171717;
      a {
        background-color: #171717;
      }
    }

    .settings:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 850px) {
  footer {
    .left {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .right {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
